/* Mobile device 320px to 576px */
@media screen and (max-width: 576px){
    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    /* Banner Section */
    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-content {
        width: 100%;
    }

    .banner-bg-image{
        background-position: center;
        background-size: contain;
    }
    .banner-image img {
        width: 100%;
        max-width: 260px;
        height: auto;
    }
    .banner-title{
    font-size: 2rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 30px;
    margin-bottom: 15px;
}
/* Sponsors Section Responsivness */
    .sponsors-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 50px 42px;
}
/* Popular Collection Section */
.collection-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    align-content: center;
    gap: 30px;
    margin: 0 auto;
}

}

/* Tablet device 577px to 768px */
@media screen and (min-width: 576px) and (max-width:768px){
     .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .banner {
        gap: 20px;
    }
    .banner-bg-image{
        background-position: center;
        background-size: contain;
    }
    .banner-image img {
        width: 100%;
        max-width: 450px;
        height: auto;
    }
    .banner-title{
    font-size: 2.5rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 50px;
    margin-bottom: 15px;
}
/* Popular Collection Section */
.collection-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    align-content: center;
    gap: 30px;
    margin: 0 auto;
}


}


/* Laptop device 769px to 992px */
@media screen and (min-width: 769px) and (max-width:992px){
    .banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 50px;
    margin-bottom: 15px;
}
.banner-bg-image{
        background-position: center;
        background-size: contain;
    }
.banner-image img {
        width: 100%;
        max-width: 550px;
        height: auto;
    }
.collection-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    align-content: center;
    gap: 30px;
    margin: 0 auto;
}
}