*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.fonts{
  font-family: "Poppins", sans-serif;
}

.flex-bc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-center {
    max-width: 90%;
    margin: 80px auto;
}
.margin-bottom {
    margin-bottom: 100px;
}

.btn-primary {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #ffffff;
    border-radius: 41px;
    border: none;
    font-weight: 700;
}
/* nav bar styles */

.nav-bar {
    margin-bottom: 50px;
}
.nav-menu {
    list-style: none;
    gap: 35px;
}
.nav-menu img {
    width: 30px;
}
.nav-menu li {
    font-weight: 600;
    color: #3A3A3A;
}
.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}

/* Banner Section Styles */
.banner-title{
    font-size: 3.25rem;
    font-weight: 700;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 16px;
}
.banner-description {
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-bg-image {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.banner-image {
    margin: 30px 37px 31px 2px;
}
